# ✅ Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# ✅ IntelliJ IDEA
.idea/
*.iml

# ✅ VS Code
.vscode/

# ✅ OS / Mac / system files
.DS_Store
Thumbs.db

# ✅ Logs and temp
*.log
*.tmp

# ✅ Compiled class files
*.class

# ✅ Reports (если Allure сохраняется локально)
allure-results/
allure-report/
